.grid-container {
    margin: 20px;
    
  }
  
  

  
  .demo-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .margen{
    margin-right: 8px;
  }


  //courier , lato
  .mat-column-email {
    flex: 0 0 25%;
}




  